SERVER_PORT=

DATABASE_PORT=
DATABASE_NAME=
DATABASE_PASSWORD=
# Docker version
# DATABASE_URL=
# Neon version
DATABASE_URL=

NODE_ENV="development"

JWT_SECRET=
ACCESS_TOKEN_TTL="900000" 
REFRESH_TOKEN_TTL="604800000"
EMAIL_VERIFICATION_TTL="120000"

EMAIL_USER=
EMAIL_PASSWORD=

# OAuth 2.0 Client IDs
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FRONTEND_URL=

REDIS_HOST=
REDIS_PORT=